body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
}

input[type="button"] {
    padding: 15px 25px;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

input[type="button"]:hover {
    background-color:blueviolet;
}

input[type="button"]:active {
    background-color:rgb(105, 48, 158);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

div.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

div#result,
div#score {
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 32px;
}